* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background: #141926;
  font-family: Helvetica, Arial, sans-serif; 
} */

.outer {
  position: relative;
  margin: auto;
  width: 20px;
  margin-right: 1px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: 10px; 
  line-height: 4em;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #ff0000;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

.closebutton{
  width: 30px;
  height: 30px;
  color: white;
  background-image: radial-gradient(#3EC9F8,#000000);
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
      transition: 0.6s all;
      animation: shake 0.9s;
      animation-iteration-count: infinite;
}