
.words {
    color: #f4d03f;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 1rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  

  .footer{
    position: fixed;
    left: 0;
    height: 20px;
    bottom: 0;
    width: 100%;
    background-color: rgb(1, 19, 58);
    color: #f4d03f;
    text-align: center;
    font-size: 10px;
  }